[Unit]
Description=Restart MPD play
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/lib/mpd-pi/mpd-restart.sh
User=mpd
Group=audio
