[Unit]
Description=Restart MPD play
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=%h/.local/share/mpd-pi/mpd-restart.sh
